<footer class="footer">
  <div class="container">
  <!-- Section 1 -->
  <div class="footer-section">
    <div class="logo"><h3>W&B</h3></div>
    <p>Short description about the company or website.</p>
    <p>Browse all categories on our dear website. You will find everything new at fantastic prices on the
      occasion of the opening.</p>
  </div>

  <!-- Section 2 -->
  <div class="footer-section">
    <h3>Links</h3>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Category</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>

  <!-- Section 3 -->
  <div class="footer-section">
    <h3>Follow Us</h3>
    <div class="work">
      <h4>Working days:</h4>
      <p>From Saturday to Thursday, from 9 am to 5 pm</p>
    </div>
    <div class="address">
      <p>Cairo, Egypt</p>
      <p>010123456789</p>
      <p>info@example.com </p>
    </div>
  </div>
  <div class="footer-section">
    <h3>News Letters</h3>
    <form>
      <label for="news">Enter Your Email:</label><br>
      <input type="text" name="news" id="news" placeholder="Enter Your Email"/>
      <button>Submit</button>
    </form>
  </div>
  </div>
  <div class="copyright">
    <p>Designed and Developed by Adel Sherif</p>
  </div>
</footer>

