
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --main-color:#D0473E;
}

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}
/* You can add global styles to this file, and also import other style files */

*{
  padding: 0;
  margin: 0;
}
body,html {
  font-family:"Jost", sans-serif;
  overflow-x: hidden;


}

html, body { height: 100%; }
body { margin: 0; font-family: "Jost", "Helvetica Neue", sans-serif; }

.container{
    width: 90%;
  margin: auto;
}



.products{
  .head{
    margin-top: 60px;
    margin-bottom: 30px;
    text-align: center;
    line-height: 2;
    h1{
      font-size: 2.5rem;
    }
    p{
      width: 40%;
      margin: auto;
      @media (max-width:768px) {
        width: 90%;
      }
    }
  }
.container{

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  .product{
    width: 20%;
    text-align: center;
    margin-bottom: 25px;
    position: relative;
    &:hover .box{
      visibility: visible;
    }
    .image{
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;

      img{
        width: 90%;
        border-radius: 5px;
      }
    }
    p{
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 5px;
    }
    span{
      color: var(--main-color);
      &:last-of-type{
        color: gray;
        margin-left: 5px;
      }
      .icon{
        font-size: 1.2em;
        vertical-align: middle;
        margin-right: -5px;
        color: var(--main-color);
      }
    }
    h5{
      color: #3c3a3a;
      span{
        color: var(--main-color);
      }
    }
    .box{
      width: 80%;
      margin: auto;
      font-size: 1.2em;
      margin-top: 25px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      visibility: hidden;
      transition: visibility .1s ease-out;
      button{
          font-weight: 400;
          font-size: 1em;
          cursor: pointer;
          border: none;
          background-color: transparent;
          &:first-of-type{
          padding-top: 10px;
          padding-bottom: 10px;
          width: 70%;
          border-radius: 50px;
          background-color: black;
          color: white;
          text-decoration: none;
          }
        .loader {
        display: inline-block;
        width: 16px;
        height: 16px;
        border: 2px solid white;
        border-top: 2px solid transparent;
        border-radius: 50%;
        animation: spin 0.7s linear infinite;
      }

      @keyframes spin {
        100% {
          transform: rotate(360deg);
        }
      }
}
 @media (max-width:768px) {
  width: 100%;

}
    }
  }
  @media (max-width:992px) {
.product{
  width: 30%;
}
}
@media (max-width:768px) {
.product{
  width: 50%;
  margin: auto;
}
}
}
.loading{
  width: 100%;
   display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
.loading-card {
  width: 15%;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  box-sizing: content-box;

  .loading-image {
    width: 100%;
    height: 300px;
    border-radius: 8px;
    margin-bottom: 12px;
    background: #e0e0e0;
  }

  .loading-text {
    height: 16px;
    border-radius: 6px;
    background: #e0e0e0;
    margin-bottom: 10px;

    &.short {
      width: 60%;
    }
  }

}
@media (max-width:992px) {
.loading-card{
  width: 25%;
}
}
@media (max-width:768px) {
.loading-card{
  width: 100%;
  margin: auto;
}
}
.shimmer {
  position: relative;
  overflow: hidden;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: -150px;
    background: linear-gradient(90deg, transparent, rgba(255,255,255,0.4), transparent);
    animation: shimmer 1.5s infinite;
  }

}

@keyframes shimmer {
  100% {
    left: 100%;
  }
}
}
}


